# OS X
.DS_Store?
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
Thumbs.db

# Vim
.local.vimrc
.lvimrc
.*.sw[a-z]
*.un~
Session.vim
Sessionx.vim
.netrwhist

# Elixir
.elixir_ls

# Node
node_modules
npm-debug.log

# Environment
.envrc
.env
tmp

# General
log/
*.log
