[user]
	email = tomkonidas@protonmail.ch
	name = Tom Konidas
	username = tomkonidas
	signkey = AABA889130AF460F
[core]
	editor = nvim
[alias]
	co = checkout
	f = fetch -p
	l = log --oneline --decorate
	lg = log --graph --oneline --all
[init]
	defaultBranch = main
[pull]
	rebase = false
[rebase]
	autosquash = true
	autostash = true
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
