!! Transparency (0-1):
*.alpha: 0.88

!! Set a default font and font size as below:
*.font: Monospace-16;

! st.termname: st-256color
! st.borderpx: 2

!!! Set the background, foreground and cursor colors as below:

!! Dracula:
*.cursorColor: #BD93F9
*.foreground: #F8F8F2
*.background: #282A36
*.color0: #282A36
/* *.color0:     #000000 */
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6


/* !! Nord: */
/* *.color0: #2E3440 */
/* *.color1: #3B4252 */
/* *.color2: #434C5E */
/* *.color3: #4C566A */
/* *.color4: #D8DEE9 */
/* *.color5: #E5E9F0 */
/* *.color6: #ECEFF4 */
/* *.color7: #8FBCBB */
/* *.color8: #88C0D0 */
/* *.color9: #81A1C1 */
/* *.color10: #5E81AC */
/* *.color11: #BF616A */
/* *.color12: #D08770 */
/* *.color13: #EBCB8B */
/* *.color14: #A3BE8C */
/* *.color15: #B48EAD */

/* !! gruvbox: */
/* *.color0: #1d2021 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #a89984 */
/* *.color8: #928374 */
/* *.color9: #fb4934 */
/* *.color10: #b8bb26 */
/* *.color11: #fabd2f */
/* *.color12: #83a598 */
/* *.color13: #d3869b */
/* *.color14: #8ec07c */
/* *.color15: #ebdbb2 */

